.input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: 1px solid #888;
  border: none;
  border-radius: 0.5rem;
}

.input::placeholder {
  opacity: 1;
  color: #888;
}

.input--invalid {
  outline-width: 2px !important;
  outline-color: #dc2626 !important;
}
